[Desktop Entry]
Version=1.0
Type=Application
Name=Zathura
Comment=A minimalistic document viewer
Comment[de]=Ein minimalistischer Dokumenten-Betrachter
Comment[fr]=Un visionneur de document minimaliste
Comment[ru]=Минималистичный просмотрщик документов
Comment[tr]=Minimalist bir belge görüntüleyicisi
Comment[es_CL]=Un visor de documentos minimalista
Comment[uk_UA]=Легкий переглядач документів
Comment[it]=Un visualizzatore di documenti minimalista
Comment[pl]=Minimalistyczna przeglądarka dokumentów
Exec=zathura %f
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;application/postscript;application/eps;application/x-eps;image/eps;image/x-eps;image/vnd.djvu;
